.titulo{
    height: 65px;
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5 rgb(163, 133, 0);

    animation-name: agrandar;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
.fondo {
background-color: rgba(231, 140, 3, 0.884);
    }
.enlace {
    height: 30px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 5px 25px;
    color: rgba(231, 140, 3, 0.884);
    margin: 70px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    animation-name: desliz;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
}
.subtitulo{
    font-size: 50px;
    font-weight: bold;
    color: black;
    width: 650px;
    text-align: start;
}
.imagen-index{ 
    position: relative;
    float: right;
    height: 400px;
    width: 400px;
    border: 3px solid;
    margin: 5px;
}
.presentacion {
    font-size: 25px;
    color: #000;
}
.titulos-pag{
    color: #000;
}

.cabeza{
    color: #000;
}

.cabeza-img{
    height: 200px;
    width: 200px;
    border: 3px solid;
    margin: 5px;
    margin-right: 225px;
}

.cuello{
    color: #000;
}

.cuello-img{
    height: 200px;
    width: 200px;
    border: 3px solid;
    margin: 25px;
}
.tronco{
    color: #000;
}

.tronco-img{
    height: 300px;
    width: 400px;
    border: 3px solid;
    margin-left: 500px;
}
.extremidades{
    color: #000;
}

@keyframes agrandar{
    0%{
        font-size: 25px;
        height: 40px;
    }
    100%{
        font-size: 50px;
        height: 65px;
    }
}

@keyframes desliz{
    0%{
        margin: 0px;
      }
    
    100%{
        margin: 70px;   
    }
    }


@media screen and (max-width: 800px) { 
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .enlace{ 
            height: 25px;
            width: 100px;
            padding: initial;
            margin: auto;
            animation-name: desliz;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-delay: 0;
            animation-iteration-count: 1;
        }
        @keyframes desliz {
            0%{
                padding: 0px 25px
            }
            100%{
                padding: 0px ;
            }
        }
    .cabeza-img{
        margin: 20px;
    }
    .tronco-img{
        height: 200px;
        width: 300px;
        margin-left: 200px;
    }
}

@media screen and (max-width: 425px){
    .subtitulo{
        font-size: 25px;
    }
    .presentacion{
        font-size: 15px;
    }
    .imagen-index{
        width: 200px;
        height: 200px;
    }
    .titulo{
        font-size: 30px;
        height: 40px;
    }
    .enlace{
        font-size: 15px;
        height: 20px;
        width: 100px;
    }
    @keyframes desliz {
        0%{
            padding: 0px 20px
        }
        100%{
            padding: 0px ;
        }
    }
    @keyframes agrandar {
    0%{
        font-size: 15px;
        height: 30px;
    }
    100%{
        font-size: 30px;
        height: 40px;
    }        
    }
    .titulos-pag{
        font-size: 25px;
    }
    .cabeza{
        font-size: 14px;
    }
    .cuello{
        font-size: 14px;
    }
    .tronco{
        font-size: 14px;
    }
    .extremidades{
        font-size: 14px;
    }
    .cabeza-img{
        height: 125px;
        width: 125px;
        margin: 5px;
    }
    .cuello-img{
        height: 130px;
        width: 130px;
        margin: 2px;
    }
    .tronco-img{
        height: 150px;
        width: 200px;
        margin-left: 115px;
    }
}

@media screen and (max-width: 375px ) {
    .titulos-pag{
        font-size: 20px;
    }
    .cabeza{
        font-size: 12px;
    }
    .cuello{
        font-size: 12px;
    }
    .tronco{
        font-size: 12px;
    }
    .extremidades{
        font-size: 12px;
    }
    .cabeza-img{
        height: 110px;
        width: 110px;
        margin: 5px;
    }
    .cuello-img{
        height: 115px;
        width: 115px;
        margin: 2px;
    }
    .tronco-img{
        height: 150px;
        width: 200px;
        margin-left: 90px;
    }
}

@media screen and (max-width: 320px) {
    .subtitulo{
        font-size: 20px;
    }
    .presentacion{
        font-size: 14px;
    }
    .imagen-index{
        width: 175px;
        height: 175px;
    }
    .titulo{
        font-size: 25px;
        height: 30px;
    }
    .enlace{
        font-size: 10px;
        height: 15px;
        width: 70px;
    }
    @keyframes desliz {
        0%{
            padding: 0px 15px
        }
        100%{
            padding: 0px ;
        }
    }
    @keyframes agrandar {
        0%{
            font-size: 10px;
            height: 20px;
        }
        100%{
            font-size: 25px;
            height: 30px;
        }
    }
    .titulos-pag{
        font-size: 20px;
    }
    .cabeza{
        font-size: 12px;
    }
    .cuello{
        font-size: 12px;
    }
    .tronco{
        font-size: 12px;
    }
    .extremidades{
        font-size: 12px;
    }
    .cabeza-img{
        height: 110px;
        width: 101px;
        margin: 1px;
    }
    .cuello-img{
        height: 115px;
        width: 101px;
        margin: 1px;
    }
    .tronco-img{
        height: 125px;
        width: 170px;
        margin-left: 80px;
    }
}