$naranja : rgba(231, 140, 3, 0.884);
$negro : #000;
$naranjahover: rgb(255, 60, 0);
$gigante :  50px;
$ultra-grande : 30px;
$muy-grande : 25px;
$grande : 20px;
$medio-grande : 18px;
$medio-chico : 16px;
$chico :  15px;
$muy-chico : 14px;
$ultra-chico : 12px;
$diminuto : 10px;
